// Screen Breakpoints
$mobile-size: 375px;
$desktop-size: 1440px;

// Colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);
$dark-grey: hsl(0, 0%, 52%);
$very-light-grey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Typography


$light-weight: 300;
$medium-weight: 600;
$heavy-weight: 800;

